<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Game News</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <!-- Fonts log -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
</head>
<body data-bs-theme="light" id="body"></body>
    <header class="shadow">
        <div class="navbar navbar-expand-lg bg-body-tertiary" style="flex-wrap: nowrap;">
            <div class="container-fluid">
                <a class="navbar-brand new-amsterdam-title" href="/<%= login.IDUser %>">
                    <img src="https://staging.cohostcdn.org/avatar/378-30af52f7-ed57-4d7d-b754-2c505be4692b-profile.png" alt="" height="60px">
                    Game News
                </a>
            </div>
            <div class="d-flex" id="Registers">
                <div class="container text-nowrap">
                    <a id="theme" onclick="ToggleTheme()" class="btn" style="font-size: 26px">☀️</a>
                    <%if(login){%>
                        <a  class="btn btn-primary" href="/<%=login.IDUser%>">Voltar</a>
                        <a  class="btn btn-danger" href="/Logout">Deslogar</a>
                    <%}else{%>
                        <a class="btn btn-outline-success" data-bs-toggle="modal"  data-bs-target="#LoginInsert" >Criar conta</a>
                        <a class="btn btn-outline-success" data-bs-toggle="modal"  data-bs-target="#LoginUser" >Login</a>
                    <%}%>
                </div>
            </div>
        </div>
    </header>
    
    <form method="post" enctype="multipart/form-data">
        <label for="Title">Título</label>
        <input type="text" name="Title" placeholder="Título do artigo" maxlength="100" value="<%= edit ? article.Title : ''%>">
        <label for="Highlight">Destacar Artigo</label>
        <input type="checkbox" name="Highlight" <%= edit ? (article.Highlight ? 'checked' : '') : ''%>>
        <label for="Description">Descrição</label>
        <textarea name="Description" placeholder="Escreva aqui..." cols="50" rows="5" maxlength="250"><%= edit ? article.Description : ''%></textarea>
        <label for="Content">Conteúdo</label>
        <textarea name="Content" placeholder="Escreva aqui..." cols="200" rows="30" maxlength="2800" id="Content"><%= edit ? article.Content : ''%></textarea>
        <input type="file" name="Image" accept="image/*">
        <input type="submit">
    </form>
    <%if(edit){%>
    <a href="/DeleteArticle/<%= login.IDUser %>/<%= article.IDArticle %>" class="btn btn-danger">Deletar artigo</a>
    <%}%>
    <script src="/script/index.js"></script>
    
</body>
</html>